<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871676975546-7dk5sbs7i20ongdgfdrtlhv1ofubrdnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871676975546-7dk5sbs7i20ongdgfdrtlhv1ofubrdnq</string>
	<key>API_KEY</key>
	<string>AIzaSyC8FKLzGv8jaRlFnTT4N6r8bxwqYZsLPDM</string>
	<key>GCM_SENDER_ID</key>
	<string>871676975546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgian.gurwindersingh.MDEV1001-ICE11</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-ice11-4c5ea</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-ice11-4c5ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871676975546:ios:0b6151d6a8defd5dab6583</string>
</dict>
</plist>